@import "tailwindcss";

:root {
  --background: #1d1d1d;
  --surface: #292929;
  --text: #f0f0f0;
  --primary: #5fcfff;
  --accent: #ffb050;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    padding: 0px;
  }
}
*/

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}
