@import "tailwindcss";

:root {
  --background: #171515;
  --surface: #2a2828;
  --text: #b5b3b3;

  --primary: #95aeb2;
  --accent: #f9ad77;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-accent: var(--accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171515;
    --surface: #2a2828;
    --text: #b5b3b3;

    --primary: #95aeb2;
    --accent: #f9ad77;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}
